.forecast {
  margin: auto 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #ffffff98;
  border-radius: 20px;
  padding: 10px;
}

.location-details-wrapper {
  margin: 20px auto;
  display: flex;
  flex-flow: column nowrap;
}

button, input {
  box-shadow: 0 4px 8px;
  border-radius: 10px;
}