.forecast-details {
  display: block;
  margin-top: 20px auto;
  font-size: 0.9em;
  border-radius: 10px;
  background-color: #ffffffe1;
} 
span {
  display: block;
  text-align: center;
  padding: 3px;
}