.forecast-summary {
  margin: 5px;
  font-size: 1em;
}

.date, .temperature, .description, .icon, .details-button {
  padding: 3px;
}

.date {
  font-size: 0.8em;
}

.temperature {
  font-weight: 900;
}

.description {
  font-style: italic;
}

.icon {
  margin: 3px;
}
