.search-form {
  flex: 1 0 auto;
  margin: 10px auto;
  text-align: center;
  display: block;
  max-width: 400px;
  width: 100%;
}

#search-input-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;

}

.search-input, .search-button {
  padding: 5px;
}

.search-input {
  flex: 1 1 auto;
  margin-right: 10px;
}

.search-button {
  flex: 0 0 auto;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}