body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url(/src/images/umbrella.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
}
#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 80%;
}